.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: 0;
}

a {
  cursor: pointer;
}

.spinner {
  width: 100%;
  text-align: center;
  font-size: 25px;
  padding-top: 50px;
  padding-bottom: 50px;

  i {
    margin-right: 15px;
  }
}

.panel > .panel-body,
.panel > .panel-heading,
.panel > .panel-footer {
  .btn {
    margin-right: 5px;
  }
}

#dashboard {
  margin-bottom: 150px;
}
