$clouds: #ecf0f1;
$concrete: #95a5a6;
$silver: #bdc3c7;
$wet-asphalt: #34495e;
$alizarin: #ea6153;

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: 0;
}

a {
  cursor: pointer;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0;
}

.login-box {
  max-width: 250px;
  margin-right: auto;
  margin-left: auto;
}

.panel > .panel-footer {
  background-color: transparent;
  padding: 0;
}

.panel > .panel-footer .data-display {
  display: inline-block;
  border-right: 1px solid $silver;
  padding: 10px;
}

.panel > .panel-footer .data-display.pull-right {
  border-left: 1px solid $silver;
  border-right: 0;
}

.btn-none {
  cursor: default;
  background-color: transparent;
}

.spinner {
  width: 100%;
  text-align: center;
  font-size: 25px;
  padding-top: 25px;
  padding-bottom: 25px;

  i {
    margin-right: 15px;
  }
}

.settings {
  margin-top: 25px;
  border-top: 1px solid $clouds;
  padding-top: 15px;

  .danger-zone {
    margin-top: 25px;
    border-top: 1px solid $clouds;
    padding-top: 15px;
  }
}

.btn-align {
  padding: 6px 0px;
  line-height: 1.42857143;
  vertical-align: middle;
}

.panel.panel-danger {
  border-color: $alizarin;
}

.panel.panel-danger > .panel-heading {
  background-color: $alizarin;
  border: 0;
  color: white;
}

.panel.panel-danger > .panel-body p {
  margin-bottom: 0;
}

.panel > .panel-body,
.panel > .panel-heading,
.panel > .panel-footer {
  .btn {
    margin-right: 5px;
  }
}

#dashboard {
  margin-bottom: 150px;
}
